#gsa-email-meta-box {

	.inside {
		padding: 0 12px 12px;
		padding: 0;
	}

	.gsa-email-control-wrap {

	    a#send-email-admin-id {
	        //color: blue;

	        &:hover {
	            // cursor: pointer;
	            // color: red;
	        }
	    }

	    .form-group {
	    	padding: 0 12px 12px;
	    	h4 {
	    		margin-bottom: 0;
	    		color: #777;
	    	}
	    	.item {
	    		padding: 5px 0;

	    		input, textarea {
	    			min-width: 350px;
	    		}

	    		textarea {
	    			min-height: 130px;
	    		}

	    		label {
	    			font-weight: bold;
	    		}
	    		&.buttons-flex {
	    			display: flex;
	    			align-items: center;
	    			.flex-item {
	    				margin-right: 8px;

		    			&.callout {
		    				border: 1px solid rgba(10, 10, 10, 0.25);
		    				padding: 4px 10px;
		    				min-width: 150px;
		    				text-align: center;

		    				&.success {
		    					background-color: #e1faea;
		    				}
		    				&.alert {
		    					background-color: #f7e4e1;
		    				}
		    			}

		    			&.gsa_spinner, &.success, &.alert {
		    				display: none;
		    			}

	    			}

	    		}
	    	}
	    	&.border {
	    		border-bottom: 1px solid #EEE;
	    		margin-bottom: 6px;
	    	}
	    }
	}
}

.gsa-sales-admin-page {

	h4.section-title {
		margin-bottom: 0;
	}

	.forms-wrap {
		display: flex;
		.form-item-group {
			padding: 0 20px 15px;
			background-color: #FFF;
			border: 1px solid #DDD;
			flex: 0 1 25%;
			margin-right: 2%;
			margin-top: 1%;

		}
		h5 {
			font-size: 1.2em;
			margin: 14px 0 3px;
		}

		&.credit {
			h5 {
				margin-bottom: 7px;
			}
			.form-item-group {
				flex: 0 1 45%;
				.form-item {
					padding: 6px 0;
					display: flex;
					justify-content: space-between;
					align-items: center;
					input, select {
						min-width: 360px;
						//border: none;
						box-shadow: none;
					}
				}
			}
		}
	}

	.date-range-input {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 0;
	}


}

	#ui-datepicker-div {
		// background-color: #FFF;
		// border: 1px solid #DDD;
		// padding: 10px;
	}

	.gsa-agent-total-payment {
		span {
			color: darken(#1486B8, 3%);
		}
	}

	.gsa-no-orders-info {
		padding: 20px 0;
		color: red;
		font-size: 1.4em;
	}

	.product-table-items:not(:nth-child(1)) td {
		border-top: 1px solid #EEE;
	}



