.single-accessory {
    position: relative;
    padding: 20px 0;

    h3, h4 {
        margin-bottom: 2px;
        font-size: 1.4em;
    }
    .description-features-wrap {
        @media(min-width: $screen-md) {
            padding: 0 30px;
        }
        .accessory-description {
            font-size: 16px;
            padding-bottom: 15px;
        }
        .features-section {
            padding-bottom: 15px;
            ul {
                list-style-type: none;
                li {
                    font-size: 20px;
                }
            }
        }
    }
    .image-wrap {
        img {
            border: 1px solid #FFF;
        }
        .img-wrap-bg {

            @include img_bg; 

            // background-image: url('../img/gplaypattern.png');
            // //background-size: 25px 25px; //reticular_tissue.png
            // background-size: 188px 178px; //gplaypattern.png
            // background-color: #FFF;
        }
    }

    .order-button-wrap {
        @media( min-width: $screen-md) {
        position: absolute;
        right: 10px;
        bottom: 10px;
        }
    }
    .thumbnail-wrap {
        display: flex;
        .img-wrap {
            flex: 1;
        }
    }
}

.features-section ul li {
    margin: 5px 0;
    position: relative;
}
.features-section ul li:before {
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    width: 13px;
    height: 13px;
    left: -21px;
    top: 9px;
    position: absolute;
    border-style: double;
    border-color: #CCC;
    content: '';
}