.single-accessories {
    h1.entry-title {
        margin: 0 0 15px 0;
        font-weight: bold;
        text-transform: none !important;
    }
}

.single-accessory {
    position: relative;
    padding: 20px 0;
    color: #000;

    h3, h4 {
        margin-bottom: 2px;
        font-size: 1.4em;
    }
    h4 {
        margin-top: 10px;
        font-weight: bold;
        color: #444;
        font-size: 20px;
        @media(min-width: $screen-sm) {
            margin-top: 0;
        }
    }
    .description-features-wrap {
        @media(min-width: $screen-md) {
            padding: 0 30px;
        }
        .accessory-description {
            width: 100%;
            font-size: 16px;
            //padding-bottom: 20px;
            p {
                margin: 0;
            }
            @media(min-width: $screen-md) {
               //padding-right: 10px; 
               padding-bottom: 30px;
            }

        }
        // .features-section {
        //     padding-bottom: 15px;
        //     border-right: 1px solid #DDD;
        //     ul {
        //         list-style-type: none;
        //         li {
        //             font-size: 20px;
        //         }
        //     }
        // }
    }
    .image-wrap {
        img {
            border: 1px solid #EEE;
        }
        // .img-wrap-bg {

        //     @include img_bg; 

        //     // background-image: url('../img/gplaypattern.png');
        //     // //background-size: 25px 25px; //reticular_tissue.png
        //     // background-size: 188px 178px; //gplaypattern.png
        //     // background-color: #FFF;
        // }
    }

    .order-button-wrap {
        background-color: #FCFCFC;
        padding: 15px;
        border: 1px solid #DFDFDF;
        //border-radius: 5px;
        text-align: center;
        .input-item {
            //background: blue;
            text-align: left;
            label {
                font-weight: bold;
                padding-left: 3px;
                font-size: 16px;
            }
        }
        // @media( min-width: $screen-md) {
        //     position: absolute;
        //     right: 10px;
        //     //bottom: 10px;
        //     top: 10px;
        // }
    }
    .thumbnail-wrap {
        display: flex;
        .img-wrap {
            flex: 1;
        }
    }

    .price-wrap-outer {

        padding-bottom: 13px;

        .price-wrap {
            color: darken( $brand-primary, 12% );
            font-size: 40px;
            font-weight: bold;
            line-height: 35px;
        }

        .price-description {
            color: #888;
            font-size: 18px;
        }
    }
}

//.features-section-wrap {
    // @media(min-width: $screen-sm) {
    //     display: flex;
    // }

    .features-section {
        // &.border-class {
        //     @media(min-width: $screen-sm) {
        //         padding-right: 25px;
        //         border-right: 1px solid #EEE;
        //         margin-right: 25px;
        //     }

        // }
        //padding-bottom: 15px;
        svg {
            max-width: 20px;
            max-height: 20px;
            margin-right: 5px;
            path, rect, polygon, circle {
                stroke: darken($brand-primary, 10%);
            }
        }
        ul {
            list-style-type: none;
            margin-left: 5px;
            margin-bottom: 0;
            li {
                font-size: $accessories-font-size;
                margin: 5px 0;
                position: relative;
                display: flex;
                align-items: center;


                // &:before {
                //     //@include diamonds;
                // }
            }
        }

        // &.colors {
        //     ul {
        //         li {

        //             &:before {
        //                 @include circles;
        //             }
        //         }
        //     }
        // }

        // &.benefits {
        //     ul {
        //         li {

        //             &:before {
        //                 @include stars;
        //             }
        //         }
        //     }
        // }

    }

    // .features-section ul li {
    //     margin: 5px 0;
    //     position: relative;
    // }
    // .features-section ul li:before {
    //     @include diamonds;
    // }

//}



.protections-wrap {
    //padding: 15px 0;
    //padding-bottom: 20px;

    .protection {
        display: flex;
        align-items: center;
        padding: 5px 0;
        margin-left: 5px;
        svg {
            max-width: 33px;
            max-height: 33px;
            path, rect, polygon {
                fill: darken($brand-primary, 5%);
            }
        }
        span {
            margin-left: 5px;
            font-size: $accessories-font-size;
            //font-weight: bold;
            //color: #222;
        }
    }
}

.description-features-wrap  {
    @media(min-width: $screen-sm) {
            .protections-wrap {
                order: 1;
            }
            .features-wrap {
                order: 3;
            }
            .benefits-wrap {
                order: 2;
            }
            .colors-wrap {
                order: 4;
            }
            .reviews-wrap {
                order: 5;
            }

        }

    //     &.no-protections {
        
    //     @media(min-width: $screen-sm) {
    //         .features-wrap {
    //             order: 2;
    //         }
    //         .benefits-wrap {
    //             order: 3;
    //         }
    //     }
    // }
}

.single-product-callout-success {
    padding-top: 15px;
    .callout.success {
        display: grid;
        grid-template-columns: 1fr auto auto auto;
        grid-gap: 10px;
        align-items: center;
        @media(max-width: 639px) {
            grid-template-columns: auto auto auto;
            span {
                grid-column: 1 / -1;
            }
            a {
                font-size: 0.7em;
                white-space: nowrap;
            }
        }

        a {
            background-color: darken($brand-primary, 4%);
            //background-color: lighten($brand-third, 13%);
            padding: 5px 10px;
            border-radius: 10px;
            color: #FFF;
            text-align: center;
            &:hover {
                opacity: 0.9;
            }
        }
    }
    @media(min-width: $screen-md) {
        padding-top: 0;
    }
    // span {
    //     color: #777;
    // }
}

.continue-shopping-wrapper {
    padding: 15px 0 15px;
}

.price-description-add-to-cart-wrap {
    padding-bottom: 25px;
}

// .main-grid-wrap-accessories {
//     display: grid;
//     grid-gap: 20px;
//     align-items: start;
//     @media(min-width: $screen-md) {
//         grid-template-columns: repeat(6, auto);
//         grid-auto-flow: dense;
//         grid-gap: 45px 20px;
//     }
//     // @media(min-width: $screen-lg) {
//     //     grid-template-columns: repeat(3, auto);
//     // }

//     .css-grid-item {
//             @media(min-width: $screen-md) {
//                 grid-column: span 3;
//             }

//         &.description {
//             @media(min-width: $screen-md) {
//                 grid-column: span 4;
//             }
//             // @media(min-width: $screen-lg) {
//             //     grid-column: span 3;
//             // }
//         }
//         &.quantity {
//             @media(min-width: $screen-md) {
//                 grid-column: span 2;
//                 //align-self: end;
//             }
//         }
//         &.protections {
//         }
//         &.features {
//         }
//         &.benefits {
//         }
//         &.reviews {
//         }
//         &.review-form {
//         }
//     }
// }

.left-grid, .right-grid {
    display: grid;
    grid-gap: 20px;
}

#reviewsModal {
    max-height: 90%;
}

.glsr-field {
    textarea {
        resize: none;
        max-height: 80px;
        //max-width: 245px;
    }
}

.margin-bottom-accessories > div {
    margin-bottom: 20px;
}


