// .new-retailer-button-wrap {
// 	padding: 15px 0 30px;
// }

.agent-button-wrap {
  margin: 15px 0;
  padding-bottom: 20px;
  &.flex {
    display: flex;
    white-space: nowrap;
    a {
      margin-right: 30px;
    }
    button.gs-button {
      padding: 15px !important;
    }
  }
}

.change-date-form {
  max-width: 240px;
  // margin: 15px 0;
  // padding-bottom: 20px;

  .change-date-form-inner {
    display: none;

    &.active {
      margin-top: 20px;
      display: block;
      padding: 20px;
      background-color: #fafafa;
      border: 1px solid #eee;
    }
  }
}

.order-details-wrap {
  padding: 20px;
  border: 1px solid #eee;
  margin: 15px 0;
}

.agent-total-payment {
  padding: 15px 0 30px;
  h3 {
    span {
      font-weight: bold;
      color: $brand-primary-hover;
    }
  }
}

.completed-orders-wrap {
  table {
    td {
      border: 1px solid #eee;
    }
  }
}

.agent-right-sidebar-inner {
  //padding: 0 20px;
  // @media(min-width: $screen-md) {
  // 	padding: 0 20px 0 40px;
  // 	padding: 0;
  // }
  .retailer-names-wrap {
    padding: 10px 20px;
    border: 1px solid #eee;
    background-color: #fafafa;

    .retailer-name {
      a.company-name {
        font-size: 1.2em;
        font-weight: bold;
        //color: $brand-primary-hover;
        color: #111;
        text-transform: uppercase;
        i {
          color: #999;
          margin-left: 3px;
        }
      }
      padding: 10px 0;
      &:not(:nth-last-child(1)) {
        border-bottom: 1px solid #dadada;
      }

      .address {
        font-size: 0.9em;
      }

      .agent-details {
        display: none;
      }

      &.show-details {
        .agent-details {
          display: block;
        }
      }
    }
  }

  .no-retailers {
    font-size: 1.2em;
    font-weight: bold;
    color: $brand-third;
  }
}

.no-orders-info {
  font-size: 1.3em;
  color: $brand-third;
  font-weight: bold;
}

.page-template-page-agent-admin {
  header {
    margin-bottom: 25px;
    h1.entry-title {
      font-size: 30px;
    }
  }
}
