.homepage-outer-outer-wrap {
    flex: 1;
}

.homepage-outer-wrap {
    flex: 1;
}

.homepage-slider {

    img {
        width: 100%;
    }
    .accessorie-slide {
        background-color: #F7F7F7;
        @include img_bg;
    }
}


.gs-homepage-content {
    padding: 45px 15px 20px;
    background-color: #F7F7F7;
    border-top: 1px solid #E5E5E5;
}

.gswireless-link-wrap {
    @include img_bg;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    transition: 0.3s;
    img {
        width: 100%;
    }
    &:hover {
        opacity: 0.8;
    }
}

.orbit-bullets {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    button {
        margin: 0 3px;
    }
}

.homepage-amazon-wrap {
    padding: 4em 20px;
    text-align: center;
    color: #FFF;
    background-color: darken($brand-primary, 5%);
    border-top: 2px solid darken($brand-primary, 12%);
    border-bottom: 2px solid darken($brand-primary, 12%);
    img {
        opacity: 0.95;
        @media(min-width: $screen-md) {
            max-width: 50%;
        }
        // @media(min-width: $screen-sm) {
        //     max-width: 40%;
        // }
        // @media(min-width: $screen-md) {
        //     max-width: 23%;
        // }
    }
}