#login-modal {
	h2 {
		font-weight: bold;
		font-size: 28px;
		padding-bottom: 5px;
		a {
			color: darken( $brand-primary, 10%);
			&:hover {
				color: $brand-primary;
			}
		}
	}

	input.input {
		padding-left: 10px;
	}

	input#wp-submit {
		background-color: darken( $brand-primary, 10%);
		font-size: 17px;
		border: none;
		color: #FFF;
		text-shadow: 1px solid rgba(0,0,0,0.1);
		text-transform: uppercase;
		font-weight: bold;
		&:hover {
			background-color: $brand-primary;
		}
	}

	.modal-button-wrap {
		text-align: center;
		padding: 40px 0 15px;
		@media(min-width: $screen-md) {
			display: flex;
			justify-content: space-between;
		}
		a.gs-button {
			font-weight: 600;
			margin: 5px 0;
			display: inline-block;
			font-size: 0.9em;
			@media(min-width: $screen-md) {
				margin: 0;
			}
		}
	}
}