.page-template-page-order-history  {

	.change-date-form {

		max-width: none;

		.change-date-form-inner {
			//display: none;
			display: block;

			&.active {
				// margin-top: 20px;
				// display: block;
				// padding: 20px;
				// background-color: #FAFAFA;
				// border: 1px solid #EEE;
			}
		}
	}

	.forms-wrap {
		display: flex;
		.form-item-group {
			padding: 0 20px 15px;
			background-color: #FFF;
			border: 1px solid #DDD;
			//flex: 0 1 50%;
			flex: 1 1 100%;
			@media(min-width: $screen-md) {
				flex: 0 1 50%;
			}
			&.range-choice {
				display: none;
			}

			.change-date-inner-new {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				div {
					padding: 0 5px;
					&:nth-child(2), &:nth-child(3) {
						flex: 0 1 50%;
					}
				}
			}

		}
		h5 {
			font-size: 1.2em;
			margin: 14px 0 3px;
		}

		// &.credit {
		// 	h5 {
		// 		margin-bottom: 7px;
		// 	}
		// 	.form-item-group {
		// 		flex: 0 1 45%;
		// 		.form-item {
		// 			padding: 6px 0;
		// 			display: flex;
		// 			justify-content: space-between;
		// 			align-items: center;
		// 			input, select {
		// 				min-width: 360px;
		// 				//border: none;
		// 				box-shadow: none;
		// 			}
		// 		}
		// 	}
		// }
	}
	table.widefat.fixed {
		@media(max-width: $screen-sm) {
			font-size: 11px;
		}
		margin: 0 !important;
	}
	.gsa-no-orders-info {
		color: $brand-third;
		padding: 15px;
		font-size: 20px;
		font-weight: bold;
	}
}
