.page-template-page-order-history  {

	.change-date-form {

		//max-width: 240px;

		.change-date-form-inner {
			//display: none;
			display: block;

			&.active {
				// margin-top: 20px;
				// display: block;
				// padding: 20px;
				// background-color: #FAFAFA;
				// border: 1px solid #EEE;
			}
		}
	}

	.forms-wrap {
		display: flex;
		.form-item-group {
			padding: 0 20px 15px;
			background-color: #FFF;
			border: 1px solid #DDD;
			flex: 0 1 25%;
			margin-right: 2%;
			margin-top: 1%;

		}
		h5 {
			font-size: 1.2em;
			margin: 14px 0 3px;
		}

		// &.credit {
		// 	h5 {
		// 		margin-bottom: 7px;
		// 	}
		// 	.form-item-group {
		// 		flex: 0 1 45%;
		// 		.form-item {
		// 			padding: 6px 0;
		// 			display: flex;
		// 			justify-content: space-between;
		// 			align-items: center;
		// 			input, select {
		// 				min-width: 360px;
		// 				//border: none;
		// 				box-shadow: none;
		// 			}
		// 		}
		// 	}
		// }
	}
}
