// registration and RMA forms
.registration-form-wrapper { // used on agent profile page too?
  // background-color: #FAFAFA;
  // border: 1px solid #EEE;
  // padding: 10px 10px 30px;
  // margin: 15px 0;
  .gs-button {
    padding: 10px 15px;
    margin-left: 8px;
  }
  .form-area-top {

    display: flex;
    flex-wrap: wrap;
    &.return-details-wrap {
      padding: 10px;
      border: 1px solid #EEE;
      margin: 5px 5px 15px;
    }
  }
  .form-area-middle {
    //display: none;
  }
  .form-footer {

  }

  .return-items-header {
    font-weight: bold;
    margin: 10px 7px 0;
    font-size: 1.3em;
    color: $brand-primary-hover;
  }

  .registration-input-wrap {
    width: 100%;
    flex: 0 1 48%;
    margin: 1%;
    input, select {
      border-radius: 0;
      box-shadow: none;
      font-size: 13px;
      padding: 6px 10px;
      height: auto;
      margin-bottom: 5px;
    }
    select {
      padding: 6px 20px 6px 7px;
      //font-size: 12px;
    }
    span {
      //color: $brand-third;
      color: #FF0000;
      margin-left: 3px;
      font-size: 1.1em;
    }

    &.textarea {
          flex: 0 1 98%;

          textarea {
            min-height: 80px;
          }
    }
    &.state {
      flex: 0 1 23%;
    }
    &.zip {
      flex: 0 1 23%;
    }
    &.rma-quantity {
      flex: 0 1 13%;
    }
    &.rma-name {
      flex: 0 1 65%;
    }
    &.rma-price {
      flex: 0 1 16%;
    }
    &.rma-serial {
      flex: 0 1 38%;
    }
    &.rma-po-number {
      flex: 0 1 23%;
    }
    &.rma-date {
      flex: 0 1 33%;
    }



  }
}

.register-user-email-taken {
  display: none;
}

.register-user-email-invalid {
  display: none;
}

.mp-required-fields {
  display: none;
}


body.gs-accessories {

      .registration-input-wrap {

        label {
          font-size: 13px;
          font-weight: bold;
          @media(min-width: $screen-sm) {
            font-size: 16px;
          }
            &:before {
            font-family: FontAwesome;
            color: darken( $brand-primary, 15%);
            float: left;
            font-size: 18px;
            line-height: 24px;
            margin-right: 5px;
            margin-bottom: 2px;
            font-weight: normal;
            @media(min-width: $screen-sm) {
              font-size: 20px;
              line-height: 30px;
              margin-right: 7px;
            }
          }
        }

        label.first_name, label.last_name {

          &:before {
            content: "\f2be";
          }
        }
  
        label.company_name {
          &:before {
            //content: "\f0f7";
            content: "\f0c0";
          }
        }

        label.email_address {
          &:before {
            content: "\f003";
          }
        }

        label.username {
          &:before {
            content: "\f2bd";
          }
        }

        label.phone_number {
          &:before {
            content: "\f095";
          }
        }

        label.password {
          &:before {
            content: "\f023";
          }
        }

        label.tin_ein_or_ssn {
         &:before {
           content: "\f2c3";
         }
        }

        label.address {
         &:before {
           content: "\f041";
         }
        }

        label.city {
         &:before {
            content: "\f276";
         }
        }

        label.state {
         &:before {
            content: "\f278";
         }
        }

        label.zip {
         &:before {
           content: "\f0ac";
         }
        }
      }
}

// hide regular inputs for RMA
.page-template-page-submit-rma {

  input.alert-warning, textarea.alert-warning {
    background-color: #f7e4e1;
    border: 1px solid rgba(10,10,10,.25);
  }
  .registration-form-wrapper {
    .regular-inputs {
      display: none;
    }
  }
}

