.cart-wrap {
	.cart-item {
		background-color: #a0d3e8;
		border: 1px solid #74bfdd;
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 10px 15px;
		margin: 15px 0;
		text-transform: uppercase;
		font-size: 15px;
		color: #000;

		.cart-property {
			//background: red;

			&.thumb {
				flex: 1 1 10%;

				img {
					width: 80px;
					border: 2px solid #FFF;
				}
			}

			&.product {
				flex: 1 1 55%;
			}

			&.quantity {
				flex: 1 1 13%;
			}

			&.color {
				flex: 1 1 11%;
			}

			&.remove {
				flex: 1 1 11%;
				text-align: right;
			}
		}

		span {
			opacity: 0.6;
			margin-right: 5px;
		}

		a {
			background-color: darken(#a0d3e8, 10%);
			border: 1px solid darken(#74bfdd, 10%);
			padding: 3px 7px;
			color: #000;
			border-radius: 5px;
			&:hover {
				background-color: darken(#a0d3e8, 15%);
				color: #000;
			}
		}
	}
}